@import "../../../styles/styleScheme.scss";
@import "../../../styles/fontScheme.scss";

.CustomerVoice {
  text-align: center;
  &__title {
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 3%;
    &-title {
      font-size: $font-size2;
    }
    &-des {
      font-size: $font-size1;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    &-box {
      &-first {
        margin-left: 30%;
      }
      &-last {
        margin-top: -30%;
      }
      display: block;
      // margin: auto;
      border: 1px solid lightgray;
      @include sizeSet(450px, 25vh);
      border-radius: 10px;
      margin-top: 20px;
    }
    &-customer {
      width: 450px;
      display: block;
      margin: 15% 5% auto auto;
      &-des {
        width: 100%;
        margin: auto;
      }
      &-name {
        margin: 5% auto;
      }
    }
  }
}
