@import "../../../styles/styleScheme.scss";
@import "../../../styles/fontScheme.scss";

.BizInfo {
  margin-top: 25%;
  &__content {
    &-title {
      font-size: 2rem;
      font-weight: 500;
      & hr {
        width: 30px;
        height: 2.5px;
        background-color: $navy;
        border: none;
      }
    }
  }
}

@include mobile {
}
