@import "../../../styles/styleScheme.scss";
@import "../../../styles/fontScheme.scss";

.CIMain {
  height: 100vh;
  &__img {
    display: inline;
    & img {
      width: 500px;
      margin-top: 10%;
    }
  }
  &__content {
    float: left;
    margin-top: 10%;
    margin-left: 15%;
    &-title {
      font-weight: 700;
      font-size: $font-size3;
      margin-bottom: 10px;
    }
    &-des {
      font-size: $font-size2;
    }
  }
}

@include mobile {
  .CIMain {
    &__img {
      & img {
        width: 350px;
      }
    }
    &__content {
      &-title {
        font-size: $font-size2;
      }
      &-des {
        font-size: 0.7rem;
      }
    }
  }
}
