@import "../../styles/styleScheme.scss";
@import "../../styles/fontScheme.scss";

.CountingUser {
  height: 10vh;
  background-color: $navy;
  &__Counting {
    margin-left: 25%;
    color: $skyBlue;
    &-text {
      display: inline;
      font-size: $font-size1;
      margin-top: 25px;
      width: 10vw;
    }
    &-number {
      display: inline;
      color: $white;
      font-size: $font-size2;
    }
    & div {
      float: left;
      background-repeat: none;
      background-size: cover;
      background-position: center;
      height: 24vh;
      width: 25%;
    }
    & img {
      width: 16%;
    }
  }
}
