@import "../../styles/styleScheme.scss";
@import "../../styles/fontScheme.scss";

.CountingUser {
  &__Counting {
    &-img {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__Btn {
    & button {
      background-color: $navy;
      color: $white;
      cursor: pointer;
      border: none;
      border-radius: 30px;
      font-size: $font-size1;
      width: 17vw;
      height: 7vh;
      box-shadow: rgba($navy, 0.3) 0px 2px 10px;
    }
  }
}
