@import "../styles/fontScheme.scss";

* {
  padding: 0;
  margin: 0;
  font-family: $NOTOSANS_REGULAR;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}
