@import "../../../styles/styleScheme.scss";
@import "../../../styles/fontScheme.scss";

.NewsSubscription {
  height: 55vh;
  margin-top: 10%;
  background-position: center;
  background-size: cover;
  &__bg {
    display: block;
    margin: auto;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
  }
  &__content {
    text-align: center;
    position: relative;
    bottom: 50%;
    &-title {
      font-size: $font-size2;
      font-weight: 700;
    }
    &-des {
      font-size: $font-size1;
    }
    &-line {
      margin: 20px auto 20px auto;
      width: 20%;
      border: 1px solid $yellow;
    }
  }
}
