@import "../../../styles/styleScheme.scss";
@import "../../../styles/fontScheme.scss";

.Investor {
  &__content {
    text-align: center;
    margin-top: 5%;
    font-size: $font-size3;
    font-weight: 700;
    &-title {
      font-size: $font-size2;
    }
  }
}

@include mobile {
  .Investor {
    &__content {
      font-size: $font-size1;
    }
  }
}
