@import "../../styles/styleScheme.scss";
@import "../../styles/fontScheme.scss";

.SearchCategory {
  width: 50%;
  display: block;
  margin: 15% auto auto auto;
  &__content {
    &-title {
      font-size: $font-size2;
    }
  }
  &__category {
    margin-top: 5%;
    &-category {
      width: 700px;
      display: inline;
    }
    &-more {
      width: 15%;
      margin-left: 20px;
      display: inline;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}
