@import "../../styles/styleScheme.scss";
@import "../../styles/fontScheme.scss";

.MockUpBG {
  margin-top: 10%;
  &__content {
    height: 50vh;
    background-size: cover;
    padding-left: 5%;
    padding-top: 5%;
    &-title {
      font-size: $font-size2;
    }
    &-subTitle {
      font-size: $font-size1;
    }
    &-des {
      font-size: $font-size1;
    }
  }
  & img {
    width: 100%;
  }
}
