@import "../../styles/styleScheme.scss";
@import "../../styles/fontScheme.scss";

.CustomerVoice {
  text-align: center;
  &__title {
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 3%;
    &-title {
      font-size: $font-size2;
    }
    &-des {
      font-size: $font-size1;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    &-box {
      //   display: block;
      //   margin: auto;
      border: 1px solid lightgray;
      @include sizeSet(60%, 25vh);
      border-radius: 5px;
    }
    &-customer {
      width: 100%;
      display: block;
      margin: 3% auto auto auto;
      &-des {
        width: 45%;
        margin: auto;
      }
    }
  }
}
